{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="columns my-3">
		<div class="column is-half is-offset-one-quarter">
			<div class="card">
				<header class="card-header">
					<p class="card-header-title">
						Login
					</p>
				</header>
				<div class="card-content">
					{{ form_start(form) }}
					<div class="content">
						{% if error %}
							<div class="message is-danger">
								<div class="message-body">
									{{ error.messageKey|trans(error.messageData, 'security') }}
								</div>
							</div>
						{% endif %}
						{{ form_row(form.email) }}
						{{ form_row(form.password) }}
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					</div>

					<footer>
						<div class="field is-grouped">
							<div class="control">
								<button class="button is-link is-small is-rounded" type="submit">Login</button>
							</div>
							<div class="control">
								<a class="button is-link is-small is-light is-rounded" href="{{ path('registration') }}">Register</a>
							</div>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
