<div class="box">
    <div class="is-flex is-justify-content-space-between is-align-items-center">
        <div>Created by
            {{item.user.name}}
            {{item.createdAt | ago}}</div>
        <div class="is-size-6 has-text-link">
            {% if item.leadStage %}
                Lead  is
                {{ item.leadStage.name }}
            {% endif %}
        </div>
    </div>
    <div class="block my-3 is-family-secondary">
        {{item.remarks}}
    </div>
    <div class="is-size-6 has-text-right">
        {% if item.callbackAt %}
            Follow up on
            {{item.callbackAt|date('d M, Y h:i a')}}
        {% endif %}
    </div>
</div>
