<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <thead class="has-background-link-dark">
        <tr>
            <th><a class="has-text-white" href="{{ sorted_filter_path('lead_stage.list', limit, page, 'id', dir) }}"># {{ arrow(sort, 'id', dir) }}
            </a></th>
            <th><a class="has-text-white" href="{{ sorted_filter_path('lead_stage.list', limit, page, 'code', dir) }}">Code {{ arrow(sort, 'code', dir) }}
            </a></th>
            <th><a class="has-text-white" href="{{ sorted_filter_path('lead_stage.list', limit, page, 'name', dir) }}">Name {{ arrow(sort, 'name', dir) }}
            </a></th>
            <th><a class="has-text-white" href="{{ sorted_filter_path('lead_stage.list', limit, page, 'isActive', dir) }}">Active {{ arrow(sort, 'isActive', dir) }}
            </a></th>
            <th class="has-text-white">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for lead_stage in lead_stages %}
            <tr>
                <td>{{ lead_stage.id }}</td>
                <td>{{ lead_stage.code }}</td>
                <td>{{ lead_stage.name }}</td>
                <td>{{ lead_stage.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="button is-info is-small is-rounded" href="{{ path('lead_stage.edit', {'id': lead_stage.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No Lead Stages found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
