<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <thead class="has-background-link-dark">
        <tr>
            <th class="has-text-white" width="5%">#</th>
            <th class="has-text-white">Name</th>
            <th class="has-text-white" width="10%">Subscription</th>
            <th class="has-text-white" width="25%">Lead Source</th>
            <th class="has-text-white" width="20%">Facebook Page ID</th>
            <th class="has-text-white" width="10%">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ page.name }}</td>
                <td>
                    {% if page.subscribed %}
                        <span class="tag is-success is-light is-normal">Subscribed</span>
                    {% else %}
                        <span class="tag is-danger is-light is-normal">Not Subscribed</span>
                    {% endif %}
                </td>
                <td>
                        {% include "facebook_leads/_lead_source_label.html.twig" with { page: page } %}
                </td>
                <td>{{ page.fbid }}</td>
                <td>
                    {% if page.subscribed %}
                        <a class="button is-info is-small is-rounded" href="{{ path('settings.facebook.unsubscribe.page', {'id': page.fbid }) }}">Unsubscribe</a>
                    {% elseif page.leadSource is null %}
                        <a class="button is-danger is-light is-small is-rounded">Set Lead Source</a>
                    {% else %}
                        <a class="button is-info is-small is-rounded" href="{{ path('settings.facebook.subscribe.page', {'id': page.fbid }) }}">Subscribe</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">
                    <a class="button is-link is-rounded is-small" data-hx-get="{{ path('settings.facebook.pages') }}" data-hx-target="#facebook-workspace">Refresh Pages</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
