{% include "opportunity/_list_header.html.twig" with { 'label': 'Contact Information', url: path('opportunity.contact.edit', {'id': opportunity.id}), target: '#opportunity-contact-info' } only %}

{{ form_start(form, {'attr': {'hx-target': '#opportunity-contact-info', 'hx-indicator': '#submit-contact-edit'} }) }}
{{ form_row(form.contact.phone) }}
{{ form_row(form.contact.email) }}

<div class="is-flex is-justify-content-space-between is-align-items-center">
    <button type="submit" id="submit-contact-edit" hx-patch="{{ path('opportunity.contact.edit', {'id': opportunity.id}) }}" class="button is-success is-small is-rounded">Save</button>
    <a hx-get="{{ path('opportunity.contact.edit', {'id': opportunity.id, 'cancel': 1 }) }}" hx-target="#opportunity-contact-info" class="button is-small is-light is-rounded">Cancel</a>
</div>
{{ form_end(form) }}
