<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <thead class="has-background-link-dark">
        <tr>
            <th><a class="has-text-white" href="{{ sorted_filter_path('opportunity.list', limit, page, 'id', dir) }}"># {{ arrow(sort, 'id', dir) }}
            </a></th>
            <th><a class="has-text-white" href="{{ sorted_filter_path('opportunity.list', limit, page, 'name', dir) }}">Name {{ arrow(sort, 'name', dir) }}</a></th>
            <th><a class="has-text-white" href="{{ sorted_filter_path('opportunity.list', limit, page, 'contact.phone', dir) }}">Phone {{ arrow(sort, 'contact.phone', dir) }}</a></th>
            <th><a class="has-text-white" href="{{ sorted_filter_path('opportunity.list', limit, page, 'createdAt', dir) }}">Created {{ arrow(sort, 'createdAt', dir) }}</a></th>
            <th class="has-text-white">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for opportunity in opportunities %}
            <tr>
                <td>{{ opportunity.id }}</td>
                <td>{{ opportunity.name }}</td>
                <td>{{ opportunity.contact.phone }} <a hx-get="{{ path('entity.dial', {'id': opportunity.id, 'module': 'opportunity' }) }}" class="button is-small is-rounded"><span class="iconify" data-icon="mdi:phone-dial" data-inline="false"></span></a></td>
                <td>{{ opportunity.createdAt | ago }}</td>
                <td>
                    <a class="button is-info is-small is-rounded" href="{{ path('opportunity.edit', {'id': opportunity.id}) }}">Edit</a>
                    <a class="button is-success is-small is-rounded" href="{{ path('opportunity.show', { 'id': opportunity.id }) }}">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No opportunities found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>