{% set action = edit == true ? path('opportunity.product.edit', {'id': id }) : path('opportunity.product', {'id': id}) %}
{% set target = "#opportunity-workspace" %}

{{ form_start(form, {'method': 'POST', 'action': action }) }}
{{ form_row(form.title) }}
{{ form_row(form.product) }}
{{ form_row(form.callbackAt) }}
{{ form_row(form.appointmentAt) }}
{{ form_row(form.status) }}
{{ form_row(form.remarks) }}
<div class="columns">
    <div class="column">
        {% if edit %}
            <button type="button" hx-get="{{ path('opportunity.product', {'id': id}) }}" hx-target={{ target }} class="button is-small is-rounded">Cancel</button>
        {% else %}
            <button type="reset" class="button is-small is-rounded">Reset</button>
        {% endif %}
    </div>
    <div class="column has-text-right">
        <button type="button" hx-post="{{ action }}" hx-target={{ target }} class="button is-small is-link is-rounded">Save</button>
    </div>
</div>
{{ form_end(form) }}
