<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://vqualify.com">
            <h1 class="title is-info">VQualify</h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {% if is_granted('IS_ANONYMOUS') %}
                <a class="navbar-item" href="{{ path('home') }}">Home</a>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <a class="navbar-item" href="{{ path('dashboard') }}">Dashboard</a>
                <a class="navbar-item" href="{{ path('lead.list') }}">Leads</a>
                <a class="navbar-item" href="{{ path('opportunity.list') }}">Opportunities</a>
                <a class="navbar-item" href="{{ path('report.list') }}">Reports</a>
            {% endif %}
        </div>

        <div class="navbar-end">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="navbar-item" href="{{ path('settings') }}">Settings</a>
            {% endif %}

            <div class="navbar-item">
                <div class="buttons">
                    {% if app.user %}
                        <a class="button is-small is-rounded" href="{{ path('app_logout') }}">
                            <strong>Sign Out</strong>
                        </a>
                    {% else %}
                        <a class="button is-small is-rounded" href="{{ path('registration') }}">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-small is-rounded" href="{{ path('app_login') }}">
                            Log in
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
