{% extends 'base.html.twig' %}

{% block title %}New Lead Source{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{path('settings')}}">Settings</a></li>
            <li><a href="{{ path('lead_source.list') }}">Lead Source</a></li>
            <li><a class="is-active" href="{{ path('lead_source.new') }}">New Lead Source</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-content">
            <p class="card-header">
                <div class="is-flex is-justify-content-space-between is-align-items-center">
                    <p class="title is-5 my-0">New Lead Source</p>
                    <p><a class="button is-small is-link is-light is-rounded" href="{{ path('lead_source.list') }}">Back</a></p>
                </div>
            </p>
        </div>
        <div class="card-content">
            {{ form_start(form) }}
                <div class="content">
                    {{ include('lead_source/_form.html.twig') }}
                </div>

                <footer>
                    <div class="field">
                        <div class="control">
                            <button class="button is-small is-link is-rounded" type="submit">Save Lead Source</button>
                        </div>
                    </div>
                </footer>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
